.card {
  display: flex;
  align-items: center;
  height: fit-content;
  min-width: 60vw;
  max-width: 90vw;
  cursor: pointer;
}

.icon {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.completedIcon {
  color: var(--completed-color);
}

.content {
  flex: 1;
  padding: 8px;
}
