.form {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-items: center;
  min-width: 60vw;
  max-width: 90vw;
}

.formButton{
    min-width: 20vw;
    max-width: 40vw;
}

.returnButton {
  position: absolute;
  top: 5vh;
  left: 90vw;
  z-index: 10;
}
