@font-face {
  src: url('./assets/fonts/flamefiretype.ttf');
  font-family: 'flamefiretype';
}

@font-face {
  src: url('./assets/fonts/Lunasima-Bold.ttf');
  font-family: 'Lunasima-Bold';
}

@font-face {
  src: url('./assets/fonts/Lunasima-Regular.ttf');
  font-family: 'Lunasima-Regular';
}
